@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #f0f0f0;
}

/* Estilo para o cabeçalho do site */
.site-header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

/* Estilo para a barra de navegação */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.left-nav {
  margin-right: auto;
  margin-left: 300px;
}

.right-nav {
  margin-left: auto;
  margin-right: 550px;
}

.nav-item {
  margin-left: 20px;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #00c8c8;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .navbar-brand {
    position: static;
    transform: none;
  }

  .left-nav {
    margin-right: 0;
  }

  .right-nav {
    margin-left: 0;
  }
}

/* Estilo para o carrossel */
.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
}

.carousel-item {
  position: relative;
  min-width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  text-align: left;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.carousel-caption p {
  font-size: 56px;
  margin-bottom: 15px;
  margin-left: 161px;
  margin-right: 617px;
  color: #fff;
  font-weight: 300;
}

.btn {
  display: inline-block;
  margin-left: 161px;
  padding: 15px 40px;
  border: none;
  background: linear-gradient(135deg, #8A76DF, #CB47CC);
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 10px;
}

.btn:hover {
  background: linear-gradient(135deg, #6b589c, #a433a1);
}

#aboutus {
  padding: 160px 150px 100px 150px;
  background-color: #f5f5f5;
}

.aboutus-wrapp {
  display: flex;
  align-items: center;
  text-align: left;
}

.about-bordered img {
  max-width: 100%;
  border-radius: 5px;
}

.heading-title {
  max-width: 600px;
}

.heading-title span {
  color: #ff007b;
  font-size: 20px;
}

.heading-title h2 {
  color: #000;
  font-size: 56px;
  margin-top: 10px;
  font-weight: 100;
}

.heading-title p {
  margin: 10px 0;
  font-size: 14px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #ff007b;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #d40065;
}

.gradient_bg_two {
  background: linear-gradient(135deg, #8A76DF, #CB47CC);
}

.gradient_bg_one {
  background: linear-gradient(135deg, #FF007B, #D40065);
}

.padding_top {
  padding-top: 100px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

.loader-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 50px;
  height: 50px;
  border: 5px solid #007bff;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}