@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #f0f0f0;
}

.site-header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.left-nav {
  margin-right: auto;
  margin-left: 300px;
}

.right-nav {
  margin-left: auto;
  margin-right: 550px;
}

.nav-item {
  margin-left: 20px;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #00c8c8;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .navbar-brand {
    position: static;
    transform: none;
  }

  .left-nav {
    margin-right: 0;
  }

  .right-nav {
    margin-left: 0;
  }
}

.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
}

.carousel-item {
  position: relative;
  min-width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  text-align: left;
  /* Centraliza à esquerda */
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.carousel-caption p {
  font-size: 56px;
  margin-bottom: 15px;
  margin-left: 161px;
  margin-right: 617px;
  color: #fff;
  font-weight: 300;
  /* Fonte mais fina */
}

.btn {
  display: inline-block;
  margin-left: 161px;
  padding: 15px 40px;
  border: none;
  background: linear-gradient(135deg, #8A76DF, #CB47CC);
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 10px;
  /* Adiciona espaço acima do botão */
}

.btn:hover {
  background: linear-gradient(135deg, #6b589c, #a433a1);
}